# Other files and folders
.DS_Store
.vscode
*.tfstate
*.tfstate.backup
*.hcl
*.lock.hcl
.terraform
*.terraform
.terraform/*
.tfplan
*.tfstate
*.tfstate.*
crash.log

*gcp_key.json
qwiklabs-gcp-[0-9][0-9]-[a-z0-9]*.json